{% extends 'base.html.twig' %}

{% block title %}DictAdjuster index{% endblock %}

{% block body %}
    <h1>DictAdjuster index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Branch_id</th>
                <th>Body</th>
                <th>In_group</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dict_adjuster in dict_adjusters %}
            <tr>
                <td>{{ dict_adjuster.id }}</td>
                <td>{{ dict_adjuster.branchId }}</td>
                <td>{{ dict_adjuster.body }}</td>
                <td>{{ dict_adjuster.inGroup }}</td>
                <td>
                    <a href="{{ path('app_dict_adjuster_show', {'id': dict_adjuster.id}) }}">show</a>
                    <a href="{{ path('app_dict_adjuster_edit', {'id': dict_adjuster.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dict_adjuster_new') }}">Create new</a>
{% endblock %}
