{% extends 'base.html.twig' %}

{% block title %}DictAdjuster{% endblock %}

{% block body %}
    <h1>DictAdjuster</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dict_adjuster.id }}</td>
            </tr>
            <tr>
                <th>Branch_id</th>
                <td>{{ dict_adjuster.branchId }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ dict_adjuster.body }}</td>
            </tr>
            <tr>
                <th>In_group</th>
                <td>{{ dict_adjuster.inGroup }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dict_adjuster_index') }}">back to list</a>

    <a href="{{ path('app_dict_adjuster_edit', {'id': dict_adjuster.id}) }}">edit</a>

    {{ include('adjuster/_delete_form.html.twig') }}
{% endblock %}
